<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Generamos una etiqueta -->


<!-- configuracion para que funcione la clase categoria -->
<mapper namespace="dao.CategoriasMapper">
    
    <!-- el id es definido por nosotros mismo -->
    <resultMap id="CategoriasMap" type="models.Categorias">
        <!-- Relacionamos las columnas de la BD y Los atributos de la clase -->
        <id column="id_categoria" property="idCategoria"/>
        <result column="nombre" property="nombre"/>
        <result column="imagen_url" property="imagenUrl"/>
        <result column="fecha_creacion" property="fechaCreacion"/>
        <result column="descripcion" property="descripsion"/>
        
    </resultMap>
     
     <select id="listarCategorias" resultMap="CategoriasMap"> 
           select*from categorias;
     </select>
</mapper>